*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #cfe1f1; 
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 70px;
  }
  
  h1 {
    color: rgb(255, 255, 255);
    text-align: left;
  }

  .container{
    max-width: 900px;
    margin: 40px auto;
  }

  header{
    display: flex;
    background-color: rgb(102, 102, 134);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(16, 16, 73);
    justify-content: space-around;
    margin-bottom: 20px;
    margin: 20px;
  }

  .exercicio{
    display: flex;
    flex-direction: column;
    background-color: #f5f8f4;
    border: 1px solid rgb(16, 16, 73);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
  }

  .exercicio h2{
    margin-top: 0px;
    color: rgb(16, 16, 73);
    text-align: center;
  }

  button{
    margin-top: 10px;
    padding: 8px 16px;
    background-color: rgb(16, 16, 73);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(102, 102, 134);
  }

  .resposta {
    margin-top: 10px;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
  }
  